engine-strict=true

# @exmaxx packages are placed on Github
@exmaxx:registry=https://npm.pkg.github.com/

# Place your Github token in place of <YOUR_TOKEN>
//npm.pkg.github.com/:_authToken=<YOUR_TOKEN>
